*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #eef0f6;
    color: #222;
}
header{
    background: linear-gradient(135deg, #ff0066, #ff005d);
    color: rgb(26, 1, 1);
    padding: 20px 80px;
    text-align: center;
}
.hero h1{
    font-size: 2.5em;
    margin-bottom: 10px;
}
.hero p{
    font-size: 1.1rem;
    margin-bottom: 10px;


}
.project-card{
    background-color: #eef0f6;
    border-radius: 18px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
    padding: 32px;
    text-align: center;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 80px;
      border-left: #ff0066 solid 6px;
    border-radius: 18px;
    font-size: large;
}
.list p{
    font-size: 1.2rem;
    color: #555;
    font-weight: bold;
    font-size: 1.2rem;
}
.list a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    margin-left: 10px;

}
.list a:hover{
    color: #ff0066;
}
.project-card img{
    width: 300px;
    height: auto;
    border-radius: 10px;
    
}
@media(
    max-width:768px){
        .project-card{
            flex-direction: column;
            text-align: center;
        }
        .project-card img{
            width: 100%;
            border-radius: 12px;
        }
        .project-card h2{
            font-size: 22px;
        }
        .project-card p{
            font-size: 16px;
            line-height: 1.6;}

    }
    footer{
        background: #111;
        color: #fff;
        text-align: center;
        padding: 20px;
        margin-top: 40px;
        font-size: 14px;
    }
