body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.profile-card{
    width: 500px;
    background:#fff;
    border-radius: 16px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    margin: 50px auto;
}
.profile-img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.role{
    color:gray;
    font-size: 14px;
    margin-bottom: -8px;
}
.bio{
    font-size: 14px;
    margin: 15px 0;

}
.abilities{
    display: inline-block;
    border: 1px solid #1026ec;
    border-radius: 25%;
    padding: 5px 10px;
    font-size: 12px;
    margin: 5px;

}
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.social-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.socials a {
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    color: #333
}
.stats{
    display: flex;
    justify-content: space-between;
    margin-top: 20px 0;
    text-align: center;
}
.stat h3{
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}
.stat p{
    margin: 4px 0 0 0;
    color: #777;
    font-size: 14px;
}
@media (max-width: 768px) {
    body{
        padding: 20px;
    }
    .profile-card{
        width: 100%;
        padding: 20px;
    }
    .profile-img{
        width: 70px;
        height: 70px;
        border-radius: 25%;
    }
    h2{
        font-size: 20px;
    }
    .role{
        font-size: 20px;}
    .bio{
        font-size: 20px;
        line-height: 1.4;
}
.stats{
    flex-direction: column;
    gap: 15px;
    margin: 20px 0 ;
}
.abilities{
    font-size: 11px;
    margin-top: 10px;
}
.socials{
    margin-top: 20px;
}
.socials a{
    font-size: 14px;
    margin: 0 10px;
}
p{
    font-size: 20px;
}
}
